{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portion list</h1>

    {{ dump(portions) }}
    {#<table class="table table-hover">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Departure</th>#}
                {#<th>Arrival</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for portion in portions %}#}
            {#<tr>#}
                {#<td><a href="{{ path('portion_show', { 'id': portion.id }) }}">{{ portion.id }}</a></td>#}
                {#<td>{{ portion.quantity }}</td>#}
                {#<td>{{ portion.quantity }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('portion_show', { 'id': portion.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('portion_edit', { 'id': portion.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('portion_new') }}">Create a new portion</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
